* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-grey: 37, 37, 37;
    --light-grey: 177, 177, 177;
    --white: 216, 216, 216;
    --alpha: 0.8;

    --uec-color: 11, 160, 85;
    --unl-color: 14, 34, 71;
    --ueq-color: 150, 10, 10;
    --ucl-color: 9, 20, 66;
    --uel-color: 250, 110, 7;
    --uecl-color: 0, 190, 20;
    --usc-color: 2, 44, 197;
}

::-webkit-scrollbar {
    width: 0.75vw;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(var(--dark-grey));
    border-radius: 100vh;
    border: 1px solid rgb(var(--light-grey));
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(var(--light-grey));
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(var(--dark-grey));
} 

.container, .main-page, .second-page {
    height: 100vh;
}

/* anchor tag properties and hover animations */


a,
.language-button {
    font-size: 1vw;
    background-color: transparent;
    color: rgb(var(--dark-grey));
    border: 1px solid rgb(var(--dark-grey));
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 10px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    transition: color 300ms ease-in-out;
}

a::before,
.language-button::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: rgb(var(--dark-grey));
    transition: transform 300ms ease-in-out;
    transform: scaleY(0);
    transform-origin: bottom;
}

a:hover,
.languages:hover > .language-button {
    color: rgb(var(--light-grey));
}

a:hover::before,
.languages:hover > .language-button::before {
    transform: scaleY(1);
    transition: 300ms ease-in-out;
}

.wrapper a {
    color: rgb(var(--light-grey));
    background-color: initial;
    border: 1px solid rgb(var(--light-grey));
}

.wrapper a::before {
    background-color: rgb(var(--light-grey));
}

.wrapper a:hover {
    color: rgb(var(--dark-grey));
}


/* Language options */

.languages {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 30px;
    z-index: 1;
}

.language-button {
    display: flex;
    gap: 10px;
    max-width: fit-content;
}

.options {
    background-color: rgb(var(--white));
    border: 1px solid rgb(var(--dark-grey));
    display: flex;
    padding: 5px;
    gap: 10px;
}

.options ul li {
    padding: 10px;
    width: 130px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    
}

.options ul li:hover {
    background-color: rgb(var(--light-grey));
    font-weight: bold;
}

.options ul li > * {
    height: 100%;
}

.options ul li img {
    border-radius: 50%;
    width: 2.3vh;
    height: 2.3vh;
}

/* The main title on the left side with the UEFA logo */

.title {
    width: -moz-fit-content;
    width: fit-content;
    float: left;
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translate(-3%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.title > * {
    margin: 10px;
}

.title img {
    height: 20vh;
}

.inner-title {
    padding-bottom: 20px;
}

h1 {
    font-size: 5vw;
}

h2 {
    font-size: 1.75vw;
    text-transform: uppercase;
}


/* svg map properties */

.mapdiv {
    height: 100%;
    width: -moz-fit-content;
    width: fit-content;
    float: right;
}

svg {
    vertical-align: top;
    height: 100%;
    max-width: 100%;
}

svg path, svg circle {
    fill: rgb(var(--white));
    stroke: rgb(var(--dark-grey));
    stroke-width: 0.25px;
    transition: all 0.35s;
}

svg :hover {
    fill: rgb(var(--dark-grey));
    stroke: rgb(var(--dark-grey));
    stroke-width: 0.5px;
}



/* Country pop-ups */

div.modul {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(var(--white));
    border-radius: 7px;
    width: 80%;
    max-width: 970px;
    height: 80%;
    color: rgb(var(--dark-grey));
    border: 2px solid rgb(var(--dark-grey));
    z-index: 3;
}

div.modul header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(var(--dark-grey));
    padding-block: 1%;
    padding-inline: 3%;
}

div.modul header button {
    background: none;
    border: none;
    font-size: 150%;
    font-weight: bold;
    cursor: pointer;
}

#FlagName {
    display: flex;
    gap: 10px;
}

#FlagName h2 {
    font-size: 2.7vw;
}

#FlagName img {
    height: 3vw;
    border: 0.5px solid rgb(var(--dark-grey));
}

div.modul main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

div.modul main table {
    width: 80%;
    margin-inline: auto;
    text-align: center;
}

#secondRow > * {
    font-weight: bold;
    padding-top: 20px;
}

#overlay {
    width: 100%;
    height: 100vw;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    pointer-events: all;
    position: fixed;
    z-index: 2;
}



/* Country hover titles */

.country-title {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    background-color: rgb(var(--white));
    border: 1px solid rgb(var(--dark-grey));
    height: 30px;
    padding: 7px;
    border-radius: 7px;

}

.country-title img {
    height: 20px;
}

.hide {
    display: none;
}



/* Second page */

.second-page {
    background-color: rgb(var(--dark-grey));
    color: rgb(var(--light-grey));
}

.wrapper,
.wrapper-content {
    width: 90%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 30px;
    gap: 20px;
}

.wrapper-content {
    justify-content: center;
}

.national,
.club {
    display: flex;
    width: 85%;
    justify-content: space-between;
    gap: 35px;
}

.competition {
    overflow: hidden;
    flex-grow: 1;
    width: 25%;
    height: 27vh;
    background-color: rgb(var(--dark-grey));
    box-shadow: inset 0 0 30px rgb(94, 92, 92);
    border: 2px solid transparent;
}


.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
}

.content > * {
    width: 50%;
}

.trophy {
    display: flex;
    z-index: 10;
}

.trophy img {
    height: 80%;
    align-self: center;
    margin: auto;
}

.info {
    display: none;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.info img {
    height: 50%;
}

@keyframes slide-out {
    0%, 20% {
        margin-left: -100%;
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        margin-left: 0;
        opacity: 1;
    }
}

.uec:hover {
    box-shadow: inset 0 0 30px rgb(var(--uec-color));
    background-image: linear-gradient(to right, rgb(var(--dark-grey, --alpha)), rgb(var(--uec-color), var(--alpha)));
    border: 2px solid rgb(var(--uec-color));
    transition: 0.5s;
}
.uec:hover .info {
    display: flex;
    animation: slide-out 1s;
}

.unl:hover {
    box-shadow: inset 0 0 30px rgb(var(--unl-color));
    background-image: linear-gradient(to right, rgb(var(--dark-grey, --alpha)), rgb(var(--unl-color), var(--alpha)));
    border: 2px solid rgb(var(--unl-color));
    transition: 0.5s;
}
.unl:hover .info {
    display: flex;
    animation: slide-out 1s;
}

.ueq:hover {
    box-shadow: inset 0 0 30px rgb(var(--ueq-color));
    background-image: linear-gradient(to right, rgb(var(--dark-grey, --alpha)), rgb(var(--ueq-color), var(--alpha)));
    border: 2px solid rgb(var(--ueq-color));
    transition: 0.5s;
}
.ueq:hover .info {
    display: flex;
    animation: slide-out 1s;
}

.ucl:hover {
    box-shadow: inset 0 0 30px rgb(var(--ucl-color));
    background-image: linear-gradient(to right, rgb(var(--dark-grey, --alpha)), rgb(var(--ucl-color), var(--alpha)));
    border: 2px solid rgb(var(--ucl-color));
    transition: 0.5s;
}
.ucl:hover .info {
    display: flex;
    animation: slide-out 1s;
}

.uel:hover {
    box-shadow: inset 0 0 30px rgb(var(--uel-color));
    background-image: linear-gradient(to right, rgb(var(--dark-grey, --alpha)), rgb(var(--uel-color), var(--alpha)));
    border: 2px solid rgb(var(--uel-color));
    transition: 0.5s;
}
.uel:hover .info {
    display: flex;
    animation: slide-out 1s;
}

.uecl:hover {
    box-shadow: inset 0 0 30px rgb(var(--uecl-color));
    background-image: linear-gradient(to right, rgb(var(--dark-grey, --alpha)), rgb(var(--uecl-color), var(--alpha)));
    border: 2px solid rgb(var(--uecl-color));
    transition: 0.5s;
}
.uecl:hover .info {
    display: flex;
    animation: slide-out 1s;
}

.usc:hover {
    box-shadow: inset 0 0 30px rgb(var(--usc-color));
    background-image: linear-gradient(to right, rgb(var(--dark-grey, --alpha)), rgb(var(--usc-color), var(--alpha)));
    border: 2px solid rgb(var(--usc-color));
    transition: 0.5s;
}
.usc:hover .info {
    display: flex;
    animation: slide-out 1s;
}
